.form-control[readonly],
textarea.form-control[readonly],
.form-select:disabled {
    background-color: #EBEBEB !important;
    opacity: 1;
    color: #212529;
    cursor: not-allowed;
}

.form-check-input:disabled + .form-check-label {
    color: #6c757d;
    cursor: not-allowed;
}
